* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

:root {
  --button-color: rgb(132, 0, 255);
  --hover-color: rgb(99, 0, 192);
  --background-color: rgba(181, 102, 255, 0.377);
}

main {
  display: flex;
}
.field {
  position: relative;
}
.car {
  z-index: 10;
  transform-style: preserve-3d;
}

.car::before {
  content: "";
  top: 5px;
  transform: translateZ(-1px);
  width: 40px;
  position: absolute;
  background-color: #000000a4;
  filter: blur(10px);
  height: 20px;
  left: 5px;
}

.rows {
  display: flex;
}

nav {
  background-color: var(--background-color);
  padding: 10px;
}

.cols {
  height: 40px;
  outline: black 1px;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #111111;
  background-size: 100% 100%;
  cursor: pointer;
}

.cols:hover {
  filter: brightness(50%);
}

.material-select {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
  z-index: -1;
}

.reset {
  width: 100%;
  margin-right: 5px;
  padding-block: 5px;
  margin-block: 10px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 0.2rem;
  font-weight: bold;
}

hr {
  opacity: 0.5;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.material-select {
  cursor: pointer;
}

.ui {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.material-list {
  background-color: var(--background-color);
  padding: 10px;
  position: sticky;
  height: 100vh;
  align-items: start;
  top: 0;
}

.material-list h3 {
  text-transform: capitalize;
}

.selected {
  outline: solid blue 2px;
  z-index: 1;
  position: relative;
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

button {
  background-color: var(--button-color);
  border-radius: 0.2rem;
  border: none;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.login,
.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login,
.register div {
  background-color: #ffffff;
  padding: 40px;
  border: 1px solid #dadce0;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
}

.login,
.register h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.login,
.register section {
  margin-bottom: 30px;
}

.login,
.register .title {
  font-size: 1.4rem;
  font-weight: 600;
}
.login,
.register .text {
  text-align: center;
  border: 0;
  padding-bottom: 20px;
  padding-top: 0;
}
.login,
.register .inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login,
.register input {
  padding: 15px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  color: #242424;
}
.login,
.registersmall {
  text-decoration: underline;
  cursor: pointer;
  columns: var(--button-color);
}

.login,
.registerbutton {
  padding: 10px 20px;
  font-size: 20px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.login,
.registerbutton:hover {
  transition: background-color 100ms ease-in-out;
  background-color: var(--hover-color);
}

.login,
.registerhr {
  border: none;
  border-top: 1px solid #ccc;
  margin-bottom: 30px;
}

@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading {
  position: relative;
}

.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00aaff; /* Replace with your desired color */
  animation: loadingAnimation 5s linear forwards;
}

@media (max-width: 1255px) {
  .material-list {
    right: 0;
    top: 0;
    width: 100vw;
  }
}
@media (min-width: 1255px) {
  .navbtn {
    display: none;
  }
}
.car {
  background-image: url(../GameAssets/car.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grass {
  background-image: url(../GameAssets/grass.png);
}
.tree {
  background-image: url(../GameAssets/tree.png);
}
.water {
  background-image: url(../GameAssets/water.png);
}
.road-h {
  background-image: url(../GameAssets/road-h.png);
}
.road-Ld {
  background-image: url(../GameAssets/road-Ld.png);
}
.road-Ulr {
  background-image: url(../GameAssets/road-Ulr.png);
}
.house-1 {
  background-image: url(../GameAssets/house-1.png);
}
.house-2 {
  background-image: url(../GameAssets/house-2.png);
}
.house-3 {
  background-image: url(../GameAssets/house-3.png);
}
.shop {
  background-image: url(../GameAssets/shop.png);
}
.sand {
  background-image: url(../GameAssets/sand.png);
}
.sand-house-1 {
  background-image: url(../GameAssets/sand-house-1.png);
}
.sand-house-2 {
  background-image: url(../GameAssets/sand-house-2.png);
}
.sand-house-3 {
  background-image: url(../GameAssets/sand-house-3.png);
}
.sand-shop {
  background-image: url(../GameAssets/sand-shop.png);
}
.sand {
  background-image: url(../GameAssets/sand.png);
}
.sand-road-Ld {
  background-image: url(../GameAssets/sand-road-Ld.png);
}
.road-fourway {
  background-image: url(../GameAssets/road-fourway.png);
}
.broken.road-h {
  background-image: url(../GameAssets/cracked-road-h.png);
}
.broken.road-Ulr {
  background-image: url(../GameAssets/broken-road-Ulr.png);
}
.broken.road-Ld {
  background-image: url(../GameAssets/broken-road-Ld.png);
}
.broken.sand-road-Ld {
  background-image: url(../GameAssets/broken-sand-road-Ld.png);
}
.broken.road-fourway {
  background-image: url(../GameAssets/broken-fourway.png);
}
.broken.grass {
  background-image: url(../GameAssets/comet-grass.png);
}
.broken.water {
  background-image: url(../GameAssets/polluted-water.png);
}

/* More assets later to be implemented */
