* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}
:root {
  --button-color: #8400ff;
  --hover-color: rgb(99, 0, 192);
  --background-color: rgba(181, 102, 255, 0.377);
}

main {
  display: flex;
  position: relative;
}
.field {
  position: relative;
  overflow: hidden;
}
.car {
  z-index: 10;
  transform-style: preserve-3d;
  pointer-events: none;
}

.car .top {
  position: absolute;
  top: 200px;
  width: 2000px;
  height: 1000px;
  left: 50%;
  transform: translate(-50%);
  cursor: not-allowed;
  pointer-events: all;
}

.car .right {
  position: absolute;
  left: 200px;
  width: 1000px;
  height: 2000px;
  top: 50%;
  transform: translate(0, -50%);
  cursor: not-allowed;
  pointer-events: all;
}

.car .bottom {
  position: absolute;
  bottom: 200px;
  width: 1000px;
  height: 2000px;
  right: 50%;
  transform: translate(50%);
  cursor: not-allowed;
  pointer-events: all;
}

.car .left {
  position: absolute;
  right: 200px;
  width: 1000px;
  height: 2000px;
  bottom: 50%;
  transform: translate(0, 50%);
  cursor: not-allowed;
  overflow: hidden;
  pointer-events: all;
}

.car::before {
  content: "";
  top: 5px;
  transform: translateZ(-1px);
  width: 40px;
  position: absolute;
  background-color: #000000a4;
  filter: blur(10px);
  height: 20px;
  left: 5px;
}

.show-range::after {
  content: "";
  position: absolute;
  top: -170px;
  bottom: -170px;
  left: -150px;
  right: -150px;
  pointer-events: none;
  cursor: pointer;
  background-color: #00aaff2f;
  filter: blur(10px);
}

.rows {
  display: flex;
}

nav {
  background-color: var(--background-color);
  padding: 10px;
}

.cols {
  height: 40px;
  outline: black 1px;
  width: 40px;
  aspect-ratio: 1/1;
  background-color: #111111;
  background-size: 100% 100%;
  cursor: pointer;
}

.cols:hover {
  filter: brightness(50%);
}

.material-select {
  width: 40px;
  height: 40px;
  background-size: 100% 100%;
  border: 0;
  background-color: transparent;
  z-index: -1;
}

.reset {
  width: 100%;
  margin-right: 5px;
  padding-block: 5px;
  margin-block: 10px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 0.2rem;
  font-weight: bold;
}

hr {
  opacity: 0.5;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.material-select {
  cursor: pointer;
}

.ui {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.material-list {
  background-color: #fff;
  padding: 10px;
  position: fixed;
  height: 100vh;
  align-items: start;
  top: 60px;
  right: 0;
}

.material-list h3 {
  text-transform: capitalize;
}

.volume-container {
  position: relative;
}

.vol-value {
  font-weight: bold;
  position: absolute;
  z-index: 20;
  top: 19px;
  right: 50%;
  color: #fff;
  pointer-events: none;
}

.selected {
  outline: solid blue 2px;
  z-index: 1;
  position: relative;
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

button {
  background-color: var(--button-color);
  border-radius: 0.2rem;
  border: none;
  color: #fff;
  padding: 5px;
  font-weight: bold;
  cursor: pointer;
}

.margin-block {
  margin-block: 20px !important;
  opacity: 1;
}

.nav {
  background-color: #fff !important;
}

.eye {
  position: absolute;
  right: 10px;
  top: 20px;
  cursor: pointer;
}
.password-input {
  position: relative;
  display: flex;
}

.w-full,
.MuiFormControl-root {
  width: 100%;
}

.login,
.register {
  display: flex;
  flex-direction: column;
  overflow: none;
  width: 500px;
  padding: 20px;
  border: 1px solid rgba(128, 128, 128, 0.219);
  border-radius: 0.2rem;
  gap: 1rem;
  position: relative;
}

.login {
  padding-top: 30px;
}

.loader {
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  top: 0;
}
.login .text-center,
.register .text-center {
  text-align: center;
}
.google-login {
  display: flex;
  gap: 10px;
}

.login small,
.register small {
  color: var(--button-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
}

.google-login {
  display: flex;
  gap: 10px;
}

.trail {
  background-color: #5a3e00;

  position: absolute;
  z-index: 9;
}

footer {
  width: 100%;
  text-align: center;
  color: #fff;
  padding-block: 20px;
  background-color: var(--background-color);
}

footer span {
  font-weight: bold;
}


@keyframes loadingAnimation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.loading {
  position: relative;
}

.loading::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #00aaff; /* Replace with your desired color */
  animation: loadingAnimation 5s linear forwards;
}

@media (max-width: 1255px) {
  .material-list {
    right: 0;
    top: 0;
    width: 100vw;
  }
}
@media (min-width: 1255px) {
  .navbtn {
    display: none;
  }
}
.car {
  background-image: url(../GameAssets/car.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.grass {
  background-image: url(../GameAssets/grass.png);
}
.tree {
  background-image: url(../GameAssets/tree.png);
}
.water {
  background-image: url(../GameAssets/water.png);
}
.road-h {
  background-image: url(../GameAssets/road-h.png);
}
.road-Ld {
  background-image: url(../GameAssets/road-Ld.png);
}
.road-Ulr {
  background-image: url(../GameAssets/road-Ulr.png);
}
.house-1 {
  background-image: url(../GameAssets/house-1.png);
}
.house-2 {
  background-image: url(../GameAssets/house-2.png);
}
.house-3 {
  background-image: url(../GameAssets/house-3.png);
}
.shop {
  background-image: url(../GameAssets/shop.png);
}
.sand {
  background-image: url(../GameAssets/sand.png);
}
.sand-house-1 {
  background-image: url(../GameAssets/sand-house-1.png);
}
.sand-house-2 {
  background-image: url(../GameAssets/sand-house-2.png);
}
.sand-house-3 {
  background-image: url(../GameAssets/sand-house-3.png);
}
.sand-shop {
  background-image: url(../GameAssets/sand-shop.png);
}
.sand {
  background-image: url(../GameAssets/sand.png);
}
.sand-road-Ld {
  background-image: url(../GameAssets/sand-road-Ld.png);
}
.road-fourway {
  background-image: url(../GameAssets/road-fourway.png);
}
.broken.road-h {
  background-image: url(../GameAssets/cracked-road-h.png);
}
.broken.road-Ulr {
  background-image: url(../GameAssets/broken-road-Ulr.png);
}
.broken.road-Ld {
  background-image: url(../GameAssets/broken-road-Ld.png);
}
.broken.sand-road-Ld {
  background-image: url(../GameAssets/broken-sand-road-Ld.png);
}
.broken.road-fourway {
  background-image: url(../GameAssets/broken-fourway.png);
}
.broken.grass {
  background-image: url(../GameAssets/comet-grass.png);
}
.broken.water {
  background-image: url(../GameAssets/polluted-water.png);
}

/* More assets later to be implemented */
